ion-card {
  margin: 16px;
}

ion-card-header {
  background-color: #2d78f9;
}

ion-card-title {
  font-weight: bold;
  color: aliceblue;
}

ion-card-subtitle {
    color: aliceblue;
}

ion-item {
    --padding-start: 0;
}
