<ion-header mode="md" [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-logo">
      <img src="../../assets/icon/sersim-yeni@300x.png" class="logo" />
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="logout()" fill="outline">
        <ion-icon name="log-out-outline"></ion-icon>
        Çıkış
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="submit()" fill="outline">
        <ion-icon slot="end" name="send-outline"></ion-icon>
        Gönder
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content">
  <h1 class="title" color="warning">Hata Tespit Formu</h1>

  <ion-card>
    <form (ngSubmit)="submit()">
      <ion-item class="form-item">
        <ion-input 
        [(ngModel)]="formData.code" 
        name="kod" 
        #tur="ngModel"
        required
        label="Ürün Kodu *" 
        label-placement="floating" 
        placeholder="Kodu giriniz">
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && tur.invalid">Ürün Kodu boş bırakılamaz.</ion-text>
        <ion-button slot="end" (click)="scanBarcode()">
          <ion-icon name="scan-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
        [(ngModel)]="formData.type"
        name="tur"
        required
        #tur="ngModel"
        label='Ürün Türü'
        label-placement="floating"
        placeholder="Ürün türü giriniz">
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && tur.invalid">Ürün Türü boş bırakılamaz.</ion-text>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input 
        [(ngModel)]="formData.name"
        name="name"
        required
        #tur="ngModel"
        label="Çalışan İsmi *" 
        label-placement="floating" 
        placeholder="İsim giriniz"
        readonly>
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && tur.invalid">Çalışan İsmi boş bırakılamaz.</ion-text>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-textarea 
        [(ngModel)]="formData.productError" 
        name="productError" 
        label="Hata Bilgisi" 
        label-placement="floating" 
        placeholder="Metin giriniz">
      </ion-textarea>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
        [(ngModel)]="formData.band"
        name="band"
        required
        #band="ngModel"
        label='Bant Kodu'
        label-placement="floating"
        placeholder="Bant kodu giriniz">
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && band.invalid">Ürün Türü boş bırakılamaz.</ion-text>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
        [(ngModel)]="formData.errorQuantity"
        name="errorQuantity"
        required
        #errorQuantity="ngModel"
        label='Hasar Miktarı'
        label-placement="floating"
        placeholder="Hasar miktarını giriniz">
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && errorQuantity.invalid">Ürün Türü boş bırakılamaz.</ion-text>
      </ion-item>
  
      <!-- Fotoları listele -->
<ion-accordion-group>
  <ion-accordion value="photos">
    <ion-item slot="header">
      <ion-label>Fotoğraflar: *</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-grid [fixed]="true" class="photo-grid">
        <ion-row>
          <ion-col size="6" size-md="3" *ngFor="let photo of formData.photos let i = index">
            <ion-card class="photo-card" (click)="openPhoto(photo.filePath)">
              <ion-img [src]="photo.filePath" class="card-img"></ion-img>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>
</ion-accordion-group>
      
  
      <!-- <pre>{{ jsonData }}</pre>  -->
      <!-- Fotoğraf çekme butonu -->    
  
    </form>
  </ion-card>
  <div class="photo-popup" *ngIf="selectedPhoto" (click)="closePhoto()">
    <img [src]="selectedPhoto" class="popup-image"/>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="take-photo" (click)="addPhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
