<ion-header mode="md" [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-logo">
      <img src="../../assets/icon/sersim-yeni@300x.png" class="logo" />
    </div>
    <ion-buttons slot="start">
      <ion-button class="logout-button" (click)="logout()" fill="outline">
        <ion-icon name="log-out-outline"></ion-icon>
        Çıkış
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="submit-button" (click)="submit()" fill="outline">
        <ion-icon slot="end" name="send-outline"></ion-icon>
        Gönder
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title" color="warning">Hata Tespit Formu</h1>

  <ion-card >
    <ion-card-header class="form-content">
      <ion-card-title>Form Bilgileri</ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="submit()">
      <ion-item class="form-code-input">
        <ion-label position="stacked" style="color: #4664f8d1;">Ürün Kodu *</ion-label>
        <ion-input 
          [(ngModel)]="formData.code" 
          name="kod" 
          #code="ngModel"
          required>
        </ion-input>
        
        <ion-text color="danger" *ngIf="submitted && code.invalid">
          Ürün Kodu boş bırakılamaz.
        </ion-text>
      
        <ion-button slot="end" (click)="scanBarcode()">
          <ion-icon name="scan-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      
  
      <ion-item class="form-type-input">
        <ion-label position="stacked" style="color: #4664f8d1;">Ürün Türü *</ion-label>
        <ion-input
          [(ngModel)]="formData.type"
          name="tur"
          required
          #tur="ngModel">
        </ion-input>
        <ion-text color="danger" *ngIf="submitted && tur.invalid">
          Ürün Türü boş bırakılamaz.
        </ion-text>
      </ion-item>
      
  
      <ion-item class="form-name-input">
        <ion-label position="stacked" style="color: #4664f8d1;">Çalışan İsmi *</ion-label>
        <ion-input 
        [(ngModel)]="formData.name"
        name="name"
        required
        #name="ngModel"
        readonly>
      </ion-input>
      <ion-text color="danger" *ngIf="submitted && name.invalid">Çalışan İsmi boş bırakılamaz.</ion-text>
      </ion-item>
  
      <ion-item class="form-error-input">
        <ion-label position="stacked" style="color: #4664f8d1;">Hata Bilgisi *</ion-label>
        <ion-textarea 
          [(ngModel)]="formData.productError" 
          name="productError">
        </ion-textarea>
      </ion-item>
      

      <ion-item class="form-band-input">
        <ion-label style="color: #4664f8d1;">Üretim Hattı *</ion-label>
        <ion-select
        [(ngModel)]="formData.band"
        name="band"
        required
        #band="ngModel">
        <ion-select-option [value]="1">Bant 1</ion-select-option>
        <ion-select-option [value]="2">Bant 2</ion-select-option>
        <ion-select-option [value]="3">Bant 3</ion-select-option>
        <ion-select-option [value]="4">Bant 4</ion-select-option>
      </ion-select>
      <ion-text color="danger" *ngIf="submitted && band.invalid">Bant numarası boş bırakılamaz.</ion-text>
      </ion-item>

      
      <ion-item class="form-quantity-input">
        <ion-label style="color: #4664f8d1;">Hasar Adedi *</ion-label> 
          <ion-select
            [(ngModel)]="formData.quantity"
            interface="popover"
            name="quantity"
            required
            #quantity="ngModel">
            <ion-select-option *ngFor="let qty of quantityOptions" [value]="qty">{{ qty }}</ion-select-option>
          </ion-select>
      <ion-text color="danger" *ngIf="submitted && quantity.invalid">Hata sayısı boş bırakılamaz.</ion-text>
      </ion-item>
  
      <ion-item class="form-errorCode-input">
        <ion-label style="color: #4664f8d1;">Hata Kodu *</ion-label>
        <ion-select [(ngModel)]="formData.errorCode" name="errorCode" interface="popover">
          <ion-select-option *ngFor="let error of errorCodes" [value]="error">
            {{ error.code }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item class="form-desc-input">
        <ion-label style="color: #4664f8d1;">Açıklama *</ion-label>
        <ion-textarea 
          [readonly]="true" 
          [value]="formData.errorCode.description || ''" >
        </ion-textarea>
      </ion-item>
      
      
      <!-- Fotoları listele -->
<ion-accordion-group>
  <ion-accordion value="photos">
    <ion-item slot="header" class="photo-accordion">
      <ion-label style="color: #4664f8d1;">Fotoğraflar: *</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-grid [fixed]="true" class="photo-grid">
        <ion-row>
          <ion-col size="6" size-md="3" *ngFor="let photo of formData.photos let i = index">
            <ion-card class="photo-card" (click)="openPhoto(photo.filePath)">
              <ion-img [src]="photo.filePath" class="card-img"></ion-img>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>
</ion-accordion-group>
      
  
      <!-- <pre>{{ jsonData }}</pre>  -->
      <!-- Fotoğraf çekme butonu -->    
  
    </form>
  </ion-card>
  <div class="photo-popup" *ngIf="selectedPhoto" (click)="closePhoto()">
    <img [src]="selectedPhoto" class="popup-image"/>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="take-photo" (click)="addPhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>


