/* Genel Arka Plan */
ion-content {
  --background: linear-gradient(to bottom, #d2e1f9, #ffffff);
  padding-top: 20px;
}

/* Header - Toolbar */
.custom-toolbar {
  padding-bottom: 2%;
  --background: linear-gradient(to right, #3b82f6, #6366f1);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);

}

/* Ortalanmış Logo */
.toolbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  width: 40%;
  height: auto;
  // box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

/* Başlık */
.title {
  text-align: center;
  color: #3e4b5b;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Butonlar */
ion-button {
  --border-radius: 20px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

/* Fotoğraf Kartları */
.photo-grid {
  margin-top: 30px;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  display: flex;
  justify-content: center;
}

.photo-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-card ion-img {
  border-bottom: 2px solid #ddd;
  width: 150px;
  height: 150px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fotoğrafın tam çerçeveye oturmasını sağlar */
}

/* Fotoğraf çekme fab butonu */
.take-photo {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  --background: linear-gradient(to right, #3b83f6d1, #6365f1d0);
  --color: white;
  --border-radius: 50%;
}

/* Açılır Fotoğraf Popup */
.photo-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.popup-image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

ion-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}