<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-logo">
      <img src="../../assets/icon/sersim-yeni@300x.png" class="logo" />
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="downloadExcel()" fill="outline">
        <ion-icon name="download-outline"></ion-icon>
        Verileri İndir
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content">
  <h1 class="title">İncelenen Ürünler</h1>
  
  

  <!-- Formlar Listeleniyor -->
  <ng-container *ngIf="forms && forms.length > 0; else noData">
    <ion-card class="info-card" *ngFor="let form of forms">
      <ion-card-header>
        <ion-card-title>Form Bilgileri</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Ürün Kodu:</ion-label>
            <ion-label slot="end">{{ form.code }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Ürün Türü:</ion-label>
            <ion-label slot="end">{{ form.type }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Hata Kodu:</ion-label>
            <ion-label slot="end">{{ form.errorCode.code }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Hata Açıklaması:</ion-label>
            <ion-label slot="end">{{ form.errorCode.description }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Detaylı Hata Bilgisi:</ion-label>
            <ion-label slot="end">{{ form.productError }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Hata Miktarı:</ion-label>
            <ion-label slot="end">{{ form.quantity }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Üretim Hattı:</ion-label>
            <ion-label slot="end">{{ form.band }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Tespit Eden Kişi:</ion-label>
            <ion-label slot="end">{{ form.name }}</ion-label>
          </ion-item>
          
        </ion-list>

        <ion-accordion-group>
          <ion-accordion value="photos">
            <ion-item slot="header">
              <ion-label>Fotoğraflar:</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-grid class="photo-grid">
                <ion-row>
                  <ion-col size="6" size-md="3" *ngFor="let photo of form.photos">
                    <ion-card class="photo-card" (click)="openPhoto(photo.filePath)">
                      <ion-img [src]="photo.filePath" class="card-img"></ion-img>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button color="danger" fill="outline" expand="block" (click)="deleteForm(form.id)">
          Formu Sil
        </ion-button>        
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-button expand="block" color="primary" (click)="getExportLink()">Excel Linkini Al</ion-button>

<ion-text *ngIf="excelExportLink">
  <a [href]="excelExportLink" target="_blank" download>📥 Excel Dosyasını İndir</a>
</ion-text>


  <!-- Veri yoksa gösterilecek içerik -->
  <ng-template #noData>
    <ion-card>
      <ion-card-content class="ion-text-center">
        Henüz incelenmiş bir ürün bulunmamaktadır.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <!-- Büyük resim gösterimi -->
  <div class="photo-popup" *ngIf="selectedPhoto" (click)="closePhoto()">
    <img [src]="selectedPhoto" class="popup-image"/>
  </div>
</ion-content>
