ion-tab-bar {
    display: flex;
    justify-content: space-around;
}


ion-tab-bar {
    --background: white;
    --color: #64748b;         // Normal ikon rengi (gri ton)
    --color-selected: #3b83f6d7; // Seçili ikon rengi (mavi uyumlu)
    border-top: 1px solid #e2e8f0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  }
  